.eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    width: 100%;
    text-align: center;
    transition: all .2s ease-out;
    pointer-events: auto;
}

.eye {
    width: 360px;
    height: 180px;
    background: rgb(211, 201, 201);
    display: inline-block;
    margin: 125px;
    border-radius: 100%;
    border-style: dashed;
    position: relative;
    overflow: hidden;
    border-color: white;
    transition: all .2s ease-out;
    pointer-events: auto;
}

.ball {
    width: 80px;
    height: 80px;
    background: black;
    /* background: rgb(218, 10, 10); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: all .2s ease-out;
    pointer-events: auto;
}

.eye:hover{
    transform: scale(102%);
}

.ball:hover{
    background: red;
    /* height: 100%; */
}